<!-- START NAV -->
   <nav class="navbar">
     <div class="container">
       <div class="navbar-brand">
         <a class="navbar-item" href="/">
           <img src="/images/D2iQ_Logo_Color-RGB.svg" alt="Logo">
            Engineering Blog
         </a>
         <span class="navbar-burger burger" data-target="navbarMenu">
           <span></span>
           <span></span>
           <span></span>
         </span>
       </div>
       <div id="navbarMenu" class="navbar-menu">
         <div class="navbar-end">
           <a class="navbar-item is-active is-size-5 has-text-weight-semibold">
             <!-- Home -->
           </a>
         </div>
       </div>
     </div>
   </nav>
   <!-- END NAV -->
