if has devbox; then
  eval "$(devbox generate direnv --print-envrc)"
elif has asdf; then
  use asdf
else
  echo 'No supported tool manager (asdf or devbox) seems to be installed.'
  echo 'You will need to ensure that tools are set up correctly manually.'
fi

