{{ $featureImage := index . "image" }}
{{ $featureImageSmall := $featureImage.Fill "300x150 webp" }}
{{ $featureImageMedium := $featureImage.Fill "600x300 webp" }}
{{ $featureImageLarge := $featureImage.Fill "1000x500 webp" }}
{{ $featureImageXLarge := $featureImage.Fill "2000x1000 webp" }}
<figure class="article-image">
  {{/*  This is a responsive image, it loads different sizes depending on device
  https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433  */}}
  <img
    srcset="{{ $featureImageSmall.RelPermalink }} 300w,
        {{ $featureImageMedium.RelPermalink }} 600w,
        {{ $featureImageLarge.RelPermalink }} 1000w,
        {{ $featureImageXLarge.RelPermalink }} 2000w"
    sizes="(min-width: 1400px) 1400px, 92vw"
    alt="{{ index  . "alt" | default (index . "page_title") }}"
  />
  {{ if ne (index . "caption") "" }}
    <figcaption>{{ index . "caption" }}</figcaption>
  {{ end }}
</figure>
