<header id="gh-head" class="gh-head outer">
  <nav class="gh-head-inner inner">
    <div class="gh-head-brand">
      <a
        class="gh-head-logo{{ if not $.Site.Params.logo }} no-image{{ end }}"
        href="/"
      >
        {{ if $.Site.Params.logo }}
          {{ $logoAsset := resources.Get $.Site.Params.logo}}
          <img src="{{ $logoAsset.RelPermalink }}" alt="{{ $.Site.Title }}" />
        {{ else }} {{ $.Site.Title }} {{ end }}
      </a>
      {{ if $.Site.Menus.main }}
      <a class="gh-burger" role="button">
        <div class="gh-burger-box">
          <div class="gh-burger-inner"></div>
        </div>
      </a>
      {{ end }}
    </div>
    <div class="gh-head-menu">
      <ul class="nav">
        {{ range $.Site.Menus.main }}
          <li class="nav-{{ .Identifier }}"><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </div>
    <div class="gh-head-actions">
      <div class="gh-social">
        {{ if $.Site.Params.social.twitter }}
        <a
          class="gh-social-link gh-social-twitter"
          href="https://twitter.com/{{ $.Site.Params.social.twitter }}"
          title="Twitter"
          target="_blank"
          rel="noopener"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path
              d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"
            ></path></svg
        ></a>
        {{ end }}
      </div>
    </div>
  </nav>
</header>
<div class="gh-head-subtext">
  <div class="outer">
    <div class="inner">
      We<span style="color:var(--color-red);margin-left: 5px;">{{ partial "icon" "heart" }}</span> our engineers and are proud of the hard work they do! The content they share in this blog is provided "as is", is not supported by D2iQ Inc., and is for educational purposes only.
    </div>
  </div>
</div>
