{{/*  This is a partial file used to generate a post "card"
which templates loop over to generate a list of posts.  */}}

<article class="post-card post{{ range $tag := .page.Params.tags }} post-{{ $tag | urlize }}{{ end }}{{ if .isHome }}{{ if eq .index 0 }} post-card-large{{ else if le .index 2}} dynamic{{ end }}{{ end }}">

  {{ if isset .page.Params "feature_image" }}
    <a class="post-card-image-link" href="{{ .page.RelPermalink }}">
      {{ $featureImage := .page.Resources.GetMatch .page.Params.feature_image }}
      {{ $featureImageSmall := $featureImage.Fill "300x150 webp" }}
      {{ $featureImageMedium := $featureImage.Fill "600x300 webp" }}
      {{ $featureImageLarge := $featureImage.Fill "1000x500 webp" }}
      {{ $featureImageXLarge := $featureImage.Fill "2000x1000 webp" }}
      <img class="post-card-image"
        srcset="{{ $featureImageSmall.RelPermalink }} 300w,
            {{ $featureImageMedium.RelPermalink }} 600w,
            {{ $featureImageLarge.RelPermalink }} 1000w,
            {{ $featureImageXLarge.RelPermalink }} 2000w"
        sizes="(max-width: 1000px) 400px, 800px"
        alt="{{ .page.Params.feature_image_alt | default .page.Title }}"
        loading="lazy"
      />
    </a>
  {{ end }}

  <div class="post-card-content">
    <header class="post-card-header">
      <div class="post-card-tags">
        {{ with .page.Params.tags }}
          {{ $primaryTag := (index . 0) }}
          <span class="post-card-primary-tag">
            <a href="{{ "/blog/tags/" | relLangURL }}{{ $primaryTag | urlize }}">{{ $primaryTag }}</a>
          </span>
        {{ end }}
      </div>
      <h2 class="post-card-title">
        <a class="post-card-content-link" href="{{ .page.RelPermalink }}">{{ .page.Title }}</a>
      </h2>
    </header>
    {{ if isset .page.Params "excerpt" }}
      <p class="post-card-excerpt">{{ .page.Params.excerpt }}</p>
    {{ end }}

    <footer class="post-card-meta">
      <time class="post-card-meta-date" datetime="{{ .page.PublishDate.Format "2006-01-02" }}">{{ .page.PublishDate.Format "Jan 2, 2006" }}</time>
      {{ if .page.ReadingTime }}
        <span class="sep">—</span>
        <span class="post-card-meta-length">{{ .page.ReadingTime }} min read</span>
      {{ end }}
    </footer>

  </div>

</article>