{{ define "body_class" }}author-template author-{{ .Title | urlize }}{{ end }}
{{ define "main" }} {{ $author := index site.Data.authors .Title }}

<main id="site-main" class="site-main outer">
  <div class="post-feed inner">
    <section class="post-card post-card-large">
      <div class="post-card-content">
        <div class="post-card-content-link">
          {{ with resources.GetMatch (printf "images/authors/%s.jpg" .Title) }}
            {{ with .Resize "80x webp" }}
              <img class="author-profile-pic" src="{{ .RelPermalink }}" alt="{{ $author.name }}" />
            {{ end }}
          {{ else }}
            {{ $gravatarURL := printf "https://www.gravatar.com/avatar/%s?d=404" (lower $author.email | md5) }}
            {{ with resources.GetRemote $gravatarURL }}
              {{ with .Resize "80x webp" }}
                <img class="author-profile-pic" src="{{ .RelPermalink }}" alt="{{ $author.name }}" />
              {{ end }}
            {{ else }}
              <a href="{{ "/authors/" | relLangURL }}{{ .Title | urlize }}" class="author-avatar author-profile-image">{{ partial "icon" (dict "label" $author.name "name" "author") }}</a>
            {{ end }}
          {{ end }}

          <header class="post-card-header">
            <h2 class="post-card-title">{{ $author.name }}</h2>
          </header>

          {{ if $author.bio }}
          <div class="post-card-excerpt">{{ $author.bio }}</div>
          {{ end }}

          <footer class="author-profile-footer">
            {{ if $author.location }}
            <div class="author-profile-location">{{ $author.location }}</div>
            {{ end }}
            <div class="author-profile-meta">
              {{ if $author.github }}
              <a
                class="author-profile-social-link"
                href="https://github.com/{{ $author.github }}"
                target="_blank"
                rel="noopener"
              >
                {{ partial "icons/github.html" }}
              </a>
              {{ end }}
              {{ if $author.twitter }}
              <a
                class="author-profile-social-link"
                href="https://twitter.com/{{ $author.twitter }}"
                target="_blank"
                rel="noopener"
              >
                {{ partial "icons/twitter.html" }}
              </a>
              {{ end }}
            </div>
          </footer>
        </div>
      </div>
    </section>

    {{ range .Pages }} {{ $page := dict "page" . }} {{ partial "post_card.html"
    $page }} {{ end }}
  </div>
</main>

{{ partial "icon-data" . }} {{ end }}
