<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode }}">
  {{- partial "head.html" . -}}
  <body class="{{ block "body_class" . }}{{ end }} has-cover">
    <div class="viewport">
      {{- partial "header.html" . -}}
      <div class="site-content">
        {{- block "main" . }}{{- end }}
      </div>
      {{- partial "footer.html" . -}}
    </div>

    {{ with resources.GetRemote "https://cdn.jsdelivr.net/npm/anchor-js@4.3.1/anchor.js" }}
      {{ with . | minify | fingerprint "sha512" }}
        <script src="{{ .RelPermalink }}"  integrity="{{ .Data.Integrity }}"></script>
      {{ end }}
    {{ end }}
    <script>
      anchors.options = {
        placement: 'left',
        class: 'hanchor'
      };
      anchors.add('.post-template h2,h3,h4,h5,h6');
    </script>
  </body>
  {{ with resources.GetRemote "https://code.jquery.com/jquery-3.5.1.js" }}
    {{ with . | minify | fingerprint "sha512" }}
      <script src="{{ .RelPermalink }}"  integrity="{{ .Data.Integrity }}"></script>
    {{ end }}
  {{ end }}
  {{ $jQueryPlugins := resources.Get "js/lib/jquery.fitvids.js" }}
  {{ $jQueryPlugins = slice $jQueryPlugins | resources.Concat "js/jquery-plugins.js" | minify | fingerprint "sha512" }}
  <script src="{{ $jQueryPlugins.RelPermalink }}" integrity="{{ $jQueryPlugins.Data.Integrity }}"></script>
  <script>
  $(document).ready(function () {
      // Mobile Menu Trigger
      $('.gh-burger').click(function () {
          $('body').toggleClass('gh-head-open');
      });
      // FitVids - Makes video embeds responsive
      $(".gh-content").fitVids();
  });
  </script>
  {{ if .Page.Store.Get "hasMermaid" }}
    {{ with resources.GetRemote "https://cdn.jsdelivr.net/npm/mermaid@9.1.6/dist/mermaid.js" }}
      {{ with . | minify | fingerprint "sha512" }}
        <script src="{{ .RelPermalink }}"  integrity="{{ .Data.Integrity }}"></script>
      {{ end }}
    {{ end }}
    <script>
      mermaid.initialize({ startOnLoad: true });
    </script>
  {{ end }}
</html>
