<section class="section">
  <div class="columns">
    <div class="column is-8 is-offset-2">
      <div class="content is-medium">
        <a href="{{ .Permalink }}"><p class="title is-1">{{ .Title | markdownify }}</p></a>
        <p class="subtitle is-4"><time datetime="{{ dateFormat (.Site.Params.DateForm | default "Mon, Jan 2, 2006") .Date }}">{{ dateFormat (.Site.Params.DateForm | default "Mon, Jan 2, 2006") .Date }}</time> by <a href="">Jan Ulferts</a></p>
        <p>{{ .Summary}}</p>
      </div>
    </div>
  </div>
</section>
