{{ define "body_class" }}post-template{{ end }}

{{ define "main" }}
  <main id="site-main" class="site-main">
    <article class="article post{{ range $tag := .Params.tags }} post-{{ $tag | urlize }}{{ end }}">

      <header class="article-header gh-canvas">

        <div class="article-tag post-card-tags">
          {{ with .Params.tags }}
            {{ $primaryTag := (index . 0) }}
            <span class="post-card-primary-tag">
              <a href="{{ "/blog/tags/" | relLangURL }}{{ $primaryTag | urlize }}">{{ $primaryTag }}</a>
            </span>
          {{ end }}
          {{ if (eq .Params.featured true) }}
            <span class="post-card-featured">{{ partial "icon" "fire" }} Featured</span>
          {{ end }}
        </div>

        <h1 class="article-title">{{ .Page.Title }}</h1>

        {{ if isset .Params "excerpt" }}
          <p class="article-excerpt">{{ .Params.excerpt }}</p>
        {{ end }}

        <div class="article-byline">
          <section class="article-byline-content">

            {{ partial "authors.html" . }}

          </section>
        </div>

        {{ if ( default true ( index .Params "show_feature_image" ) ) }}
          {{ if isset .Params "feature_image" }}
            {{ $feature_image_config := dict "image" (.Resources.GetMatch .Params.feature_image) "caption" (.Params.feature_image_caption) "alt" (.Params.feature_image_alt) "page_title" .Title }}
            {{ partial "feature_image.html" $feature_image_config }}
          {{ end }}
        {{ end }}

      </header>

      <section class="gh-content gh-canvas {{ index .Params "content_extra_class" }}">
        {{ .Content }}
      </section>

      {{/*  <section class="article-comments gh-canvas">
        If you want to embed comments, this is a good place to paste your code!
      </section>  */}}

    </article>
  </main>

  {{ $related := .Site.RegularPages.Related . | first 3 }}
  {{ with $related }}
    <aside class="read-more-wrap outer">
      <div class="read-more inner">
        {{ range . }}
          {{ $page := dict "page" . }}
          {{ partial "post_card.html" $page }}
        {{ end }}
      </div>
    </aside>
  {{ end }}

  <div class="footer-page-edit">
    {{ partial "page-edit" . }}
  </div>

  {{ partial "icon-data" . }}
{{ end }}