{{ define "main" }}
<!-- Image -->
   <section class="hero ">
     <div class="hero-body">
       <div class="container">
         <div class="columns">
           <div class="column is-8 is-offset-2">
             <figure class="image is-16by9">
               <img src="../images/first-post.png" alt="">
             </figure>
           </div>
         </div>


         {{ $numPosts := or .Site.Params.PostSummariesFrontPage 4 }}
         {{ range first $numPosts (where .Site.RegularPages "Type" "eq" "posts") }}
             {{ .Render "summary"  }}
         {{ end }}
       </div>
     </div>
   </section>

{{ end }}
